#customButton {
    background: transparent;
    border: 2px solid red;
    color: red;
}

#customButton:hover {
    background: rgba(255, 0, 0, 0.1);
}

/* Container da imagem */
#backgroundContainer {
    padding: 0px;
    margin: 0px;
    background: rgba(200, 250, 20, 0.94);
    min-width: 1000px;
    min-height: 1000px; 
}

#titleLabel {
    margin-bottom: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#button_charizard,
#button_blastoise,
#button_venusaur,
#button_pikachu,
#button_pidgeot,
#button_butterfree,
#button_alakazam,
#button_gengar,
#button_onix,
#button_seadra,
#button_hitmonlee,
#button_cloyster {
    background: transparent;
    border: 2px outset rgb(56, 76, 227);
    padding: 5px;
    min-width: 50px;
    min-height: 50px; 
}

#button_charizard:hover,
#button_blastoise:hover,
#button_venusaur:hover,
#button_pikachu:hover,
#button_pidgeot:hover,
#button_butterfree:hover,
#button_alakazam:hover,
#button_gengar:hover,
#button_onix:hover,
#button_seadra:hover,
#button_hitmonlee:hover,
#button_cloyster:hover
{
    background: rgba(148, 162, 193, 0.36);
}

#overlay {
    padding: 0px;
    margin: 0px;
  
}